<%- include('partials/header') %>

<form action="/create" method="POST">
  <div class="container-login100">
    <div class="card-header">
      <div class="form-group">
        <label for="exampleInputEmail1">Endereço de email</label>
        <input
          type="email"
          class="form-control"
          id="Email"
          aria-describedby="emailHelp"
          placeholder="Seu email"
          name="email"
        />
        <small id="emailHelp" class="form-text text-muted">
          Nunca vamos compartilhar seu email, confia no pai.
        </small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input
          type="password"
          class="form-control"
          id="Password1"
          placeholder="Senha"
          name="password1"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword2">Confirme sua senha</label>
        <input
          type="password"
          class="form-control"
          id="Password2"
          placeholder="Senha"
          name="password2"
        />
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </div>
</form>

<%- include('partials/footer') %>